/* master css */
/* @import "compass/reset"; */
/* @import "compass/css3"; */
/* @import "reset"; */
/* variables */
/* mixins */
/* function */
a {
  text-decoration: underline;
}
a:hover, .button, .button-red {
  text-decoration: none;
}
.super-link a {
  color: #665;
}

body {
  background: #ccc;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  color: #463838;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #ff0;
}

.button, .button-red {
  background-color: #ddd;
  color: #000;
}

.button-red {
  background-color: red;
}

.container {
  border-width: 1px;
  border-style: solid;
  border-color: #00f;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 90%;
  max-width: 980px;
  -webkit-box-shadow: 0 0 3px #999, inset 3px 3px 3px #333;
  -moz-box-shadow: 0 0 3px #999, inset 3px 3px 3px #333;
  box-shadow: 0 0 3px #999, inset 3px 3px 3px #333;
  margin: 0 auto;
}
.container p {
  color: #333;
  margin: 96px;
}

.box, .bigger-box, .huge-box {
  padding: 1em;
  background-color: aquamarine;
}

.huge-box {
  padding: 2em;
}
